.main-header{
    position: fixed;
    width: 100%;
    z-index: 1001;
}
html:not([data-scroll='0']) .main-header{
    position: fixed;
    opacity: 1;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
}

html{
  font-family: 'Gill Sans MT Condensed';
}

.logo img{
  transition:1s;
  -webkit-transition:1s;
  -moz-transition:1s;
  -ms-transition:1s;
  -o-transition:1s;
  width:60px;
  height:60px;
  display:block;
  margin-right:auto;
  margin-left:auto;
}
.logo img:hover{
  transition:1s;
  -webkit-transition:1s;
  -moz-transition:1s;
  -ms-transition:1s;
  -o-transition:1s;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
.github{
  position: absolute;
  right: 20px;
  color: #000;
}
.header-title{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 30px;
  text-transform: uppercase;
}