main{
    background: url('../assets/images/background_1.jpg') center center/cover fixed;
    background-repeat: repeat-y;    min-height: 100vh;
}
mat-sidenav{
    width: 100%;    
    position: fixed;
}
